* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  padding-top: 2%;
  background-color: #f5f7fa;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li {
  display: inline;
  margin: 10px;
  cursor: pointer;
}
.login-button {
  color: #4caf4f;
  background-color: #f5f7fa;
  border: none;
  padding: 8px;
}
.green-button {
  padding: 8px;
  background-color: #4caf4f;
  color: #f5f7fa;
  border: none;
  border-radius: 6px;
}
.hero {
  background-color: #f5f7fa;
  padding: 8%;
}
.hero,
.unlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin: auto;
}
.hero-text h1 {
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
}
span {
  color: #4caf4f;
}
.hero-text p,
.unlock-text p {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
  padding: 5% 0%;
}
.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #f5f7fa;
}
.dot div {
  height: 10px;
  width: 20px;
  border: 1px solid #4caf4f;
  border-radius: 50%;
  position: relative;
  top: 450px;
}
.our-client-text {
  text-align: center;
  margin: auto;
}
.our-client-text h1,
.unlock-text h1,
.achievement-text h1 {
  font-size: 35px;
  line-height: 44px;
  font-weight: 600;
  padding: 2% 0%;
}
.our-client-image {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.our-client-image img {
  max-height: 5%;
  max-width: 5%;
  margin: 3% auto;
}
.community-part {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.community-part div {
  padding: 20px;
  text-align: center;
  margin: 20px 40px;
  box-shadow: 20%;
  box-shadow: 5px 5px 10px #6f7174;
}
.community-part h2 {
  font-size: 28px;
  font-weight: 700;
  padding: 10px 0px;
}
.unlock-image img {
  max-width: 442px;
  height: 400px;
}
.achievement {
  height: 299px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f7fa;
  margin: 20px;
}
.achievement-block {
  width: 545px;
}
.block-first,
.block-second {
  display: flex;
  max-height: 40px;
  max-width: 540px;
  margin: 30px;
}
.achievement-block img {
  min-width: 48px;
  min-height: 48px;
}

.member,
.clubs,
.event,
.payment {
  display: flex;
  gap: 10px;
}
.customer {
  background-color: #f5f7fa;
}
.customer span {
  margin-left: 5px;
}
.customer-logo {
  max-height: 78px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.customer-logo img {
  max-height: 48px;
  max-width: 48px;
}

.text {
  max-width: 230px;
  min-height: 150px;
  text-align: center;
  background-color: #e9ecef;
  backdrop-filter: blur(16px);
  position: absolute;
  top: 70%;
  bottom: 0%;
  padding: 20px;
  margin-left: 3.5%;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #6f7174;
}
.text span {
  color: #4caf4f;
}
.readmore {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text img,
.text span {
  max-height: 30px;
  max-width: 30px;
  padding-top: 15px;
}
.update-image {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-height: 336px;
  padding: 0px 144px;
  position: relative;
}
.update-image img {
  max-width: 330px;
  max-height: 280px;
}
footer {
  min-height: 628px;
  margin-top: 10px;
}
.footer-text {
  text-align: center;
  max-height: 300px;
  padding-top: 30px;
  margin: auto;
  background-color: #f5f7fa;
}
.footer-text h1 {
  font-size: 64px;
  padding: 20px;
}
.footer-list {
  max-height: 324px;
  background-color: #263238;
  color: #f5f7fa;
  margin-top: 20px;
}
.footer-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.footer-logo {
  max-width: 350px;
  max-height: 190px;
  padding-top: 40px;
}
.icons img {
  width: 19px;
  height: 30px;
  padding-top: 10px;
}
.footer-logo p {
  padding-top: 10px;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 328px;
  max-width: 635px;
  padding: 20px;
}
.company {
  max-width: 160px;
  max-height: 200px;
  gap: 24px;
  margin: 10px;
}
.footer-list p {
  line-height: 2;
}
